@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o1cvhw');
  src:  url('fonts/icomoon.eot?o1cvhw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o1cvhw') format('truetype'),
    url('fonts/icomoon.woff?o1cvhw') format('woff'),
    url('fonts/icomoon.svg?o1cvhw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e90e";
}
.icon-cabinet:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-minus:before {
  content: "\e905";
}
.icon-notice:before {
  content: "\e906";
}
.icon-chronometer:before {
  content: "\e907";
}
.icon-chat:before {
  content: "\e910";
}
.icon-resize:before {
  content: "\e909";
}
.icon-keyboard:before {
  content: "\e911";
}
.icon-globe:before {
  content: "\e912";
}
.icon-zip:before {
  content: "\e913";
}
.icon-box-filled:before {
  content: "\e90a";
}
.icon-html:before {
  content: "\e919";
}
.icon-css:before {
  content: "\e91b";
}
.icon-psd:before {
  content: "\e91d";
}
.icon-ai:before {
  content: "\e91f";
}
.icon-bulb:before {
  content: "\e900";
}
.icon-two-gears:before {
  content: "\e90d";
}
.icon-to-responsive:before {
  content: "\e90b";
}
.icon-responsive:before {
  content: "\e901";
}
.icon-quest:before {
  content: "\e90c";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e920";
}
.icon-phone-portrait:before {
  content: "\e921";
}
.icon-stats-bars:before {
  content: "\e99d";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-left:before {
  content: "\ea40";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-phone:before {
  content: "\e942";
}
.icon-arrow-up-right:before {
  content: "\ea3b";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android2:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet2:before {
  content: "\f10a";
}
.icon-phone2:before {
  content: "\f10b";
}
.icon-bitbucket:before {
  content: "\f171";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
