// @keyframes loadAnim {
//     0% {
//         @include transform(rotate(0deg));
//     }
//     100% {
//         @include transform(rotate(360deg));
//     }
// }
@keyframes animateNext {
  0% {
    top: 0
  }
  15% {
    opacity: 0
  }
  40% {
    opacity: 1
  }
  60% {
    opacity: 1
  }
  85% {
    opacity: 0
  }
  100% {
    top: 100%
  }
}

@keyframes fullLogo {
  0% {
    color: $color1;
    opacity: 0;
  }
  15% {
    color: $color2;
    opacity: 1;
  }
  100% {
    color: $color1;
    opacity: 0;
  }
}