.container {
  width: $containerLG;
  padding: $containerPaddingLG;
  margin: 0 auto;
}

.smallContainer {
  max-width: $containerSmall;
  padding: $containerPaddingLG;
  margin: 0 auto
}
.grayBack{
  background-color: $darkBack;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  color:$color1;
  margin: 0 auto;
}
html,
*,
*:before,
*:after {
  @include text-size-adjust(100%);
}

[style*='background-im'] {
  background-position: center;
  background-size: cover
}

* {
  @include box-sizing(border-box);
  &:before,
  &:after {
    @include box-sizing(border-box);
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  text-decoration: none;
  @include transition(all 0.2s);
  &:not([class*='btn']){
    text-decoration: underline;
    color:$color2;
  }
  &:not([class*='btn']):hover{
    color:$color6;
  }
}
.invisLink {
  position: relative;
  z-index: 1;
  a,
  .linkInvise {
    display: block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    text-indent: 1920px;
    white-space: nowrap;
    padding-left: 100%;
  }
}

[class*=' icon-'], [class^='icon-'] {
  position: relative;
}

[class*=' icon-'] [class*='path'],
[class^='icon-'] [class*='path'] {
  position: absolute;
  left: 0px;
  top: 0px;
  // display: block;
  white-space: nowrap;
  &:first-child {
    position: static;
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: left;
}

*,
*:focus {
  outline: none;
}

.tab {
  .tabCont {
    section {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      & + section {
        margin-top: 130px;
      }
    }
  }
}

.breadcrumbs {
  & + * {
    margin-top: 4px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    & + li:before {
      content: "/";
      display: inline;
      margin-right: 6px;
    }
  }
  a {
    @include font(12px, 18px, null, normal, 0.5px);
    // font-family: $font2;
    text-transform: uppercase;
  }
  span {
    @include font(12px, 18px, null, normal, 0.5px);
    // font-family: $font2;
    text-transform: uppercase;
  }
}

.pagination {
  &.pagPage {
    .navigate {
      margin-bottom: 15px;
      a {
        &:hover {
        }
      }

    }
    [class*='ctr'] {
      @include font(13px, 19px, null, normal, 0);
      &[class*='Prev'] {
      }
      &[class*='Next'] {
        margin-left: 15px;
      }
    }
    p {
      @include font(16px, 38px, null, normal, 0);
      margin-right: 9px;
    }
    ul {
      li {
        @include font(16px, 38px, null, normal, 0);
        width: 38px;
        text-align: center;
        & + li {
          margin-left: 5px;
        }
      }
      a {
        @include font(16px, 36px, null, normal, 0);
        @include border-radius(50%);
        border: solid 1.5px transparent;
        // font-family: $font2;
        display: block;
        position: relative;
        &:hover {
          color: inherit;
          border-color: inherit;
        }
        &.active {
          color: inherit;
          border-color: inherit;
        }
      }
    }

  }

  .prev, .next {
    display: block;
    width: 120px;
    text-align: center;
    line-height: 40px;
    border: solid 1px;
    @include border-radius(12px);
    overflow: hidden;
  }
  .prev [class*='icon'],
  .next [class*='icon'] {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-size: 12px;
  }
  .prev {
    [class*='icon'] {
      margin-right: 3px;
    }
  }
  .next {
    [class*='icon'] {
      margin-left: 3px;
    }
  }
}

.goNext {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -12px;
  height: 60px;
  overflow: hidden;
  width: 24px;
  cursor: pointer;
  z-index: 2;
  span {
    display: block;
    width: 3px;
    height: 3px;
    background-color: $color3;
    border-radius: 50%;
    position: absolute;
    left: 54%;
    top: 0;
    margin-left: -1.5px;
    -webkit-animation-name: animateNext;
    animation-timing-function: linear;
    animation-name: animateNext;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 4.2s;
    animation-duration: 4.2s;
    z-index: 2;
    opacity: 0;
    box-shadow: 0 0 0 0 $color3;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    &:nth-child(1) {
      animation-delay: 0
    }
    &:nth-child(2) {
      animation-delay: .7s
    }
    &:nth-child(3) {
      animation-delay: 1.4s
    }
    &:nth-child(4) {
      animation-delay: 2.1s
    }
    &:nth-child(5) {
      animation-delay: 2.8s
    }
    &:nth-child(6) {
      animation-delay: 3.5s
    }
  }
  &:hover {
    span {
      box-shadow: 0 0 0 1px $color3;
    }
  }
}

.imageBlock {
  @include back-img(auto, center, no-repeat);
  &.imageSD {
    @media (max-width: $maxMediaSD) {
      height: auto !important;
      background: none !important;
    }
    img {
      @media (min-width: $minMediaSD) {
        display: none !important;
      }
    }
  }
  &.imageMD {
    @media (max-width: $maxMediaMD) {
      height: auto !important;
      background: none !important;
    }
    img {
      @media (min-width: $minMediaMD) {
        display: none !important;
      }
    }
  }
  &.imageSM {
    @media (max-width: $maxMediaSM) {
      height: auto !important;
      background: none !important;
    }
    img {
      @media (min-width: $minMediaSM) {
        display: none !important;
      }
    }
  }
  &.imageXS {
    @media (max-width: $maxMediaXS) {
      height: auto !important;
      background: none !important;
    }
    img {
      @media (min-width: $minMediaXS) {
        display: none !important;
      }
    }
  }
  &.imageXSS {
    @media (max-width: $maxMediaXSS) {
      height: auto !important;
      background: none !important;
    }
    img {
      @media (min-width: $minMediaXSS) {
        display: none !important;
      }
    }
  }
}



.menuBtn {
  cursor: pointer;
  position: relative;
  display: block;
  border: 0;
  z-index: 11;
  background: transparent;
  width: 25px;
  height: 30px;
  padding-top: 6px;
 span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: $color3;
  @include transition(all 0.2s);  
  margin: 0 auto;
  & + span {
    margin-top: 5px
  }
 }


&.selected{
  span {
  background-color: $color3;
  &:nth-child(1) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 8px;
  }
  &:nth-child(2) {
    opacity: 0
  }
  &:nth-child(3) {
    margin-top: -9px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}
}
}
.portfolio{
.container{
  & + .container{
      margin-top: 20px;
  }
}
}