[class*='btn'] {
  position: relative;
  z-index: 2;
  border:0px;
  cursor: pointer;
  display: table;
  font-size: 18px;
  line-height: 28px;
  padding: 5px 50px 8px;
  border-radius: 0px;
}
.btnOrange {
  background-color: $color6;
  color: $color3;
  &:hover {
    background-color: $color4;
  }
}
[class*='btn'][class*='Border'] {
  &.btnOrange {
    background-color: transparent;
    color: $color6;
    box-shadow: inset 0px 0px 0px 1px $color6;
  }
  &:hover {
    background-color: $color6;
    color: $color3;
  }
}
[class*='btn'][class*='Text'] {
  &.btnOrange {
    background-color: transparent;
    color: $color6;
  }
  &:hover {
    background-color: $color6;
    color: $color3;
  }
}


.center [class*='btn'] {
  margin: 0 auto;
}

.textBlock * + [class*='btn'] {
  margin-top: 30px
}
