footer {
  background-color: $color5;
  .lineCont {
    padding: 10px 0;
    .table {
      width: 100%
    }
    .item {
      padding-top: 0
    }
    .phone {
      font-size: 26px;
      line-height: 28px;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
    }
    padding: 5px 0;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        span {
          display: block;
          color: $color3;
          font-size: 26px;
          -webkit-transition: color 0.2s;
          -moz-transition: color 0.2s;
          -o-transition: color 0.2s;
          transition: color 0.2s
        }
        &:hover span {
          color: $color4
        }
      }
    }
    p {
      color: $color2;
      font-size: 12px
    }
  }
  
  .lineCopy {
    background-color: $color1;
    padding: 5px 0px;
    p {
      color: $color2;
      font-size: 12px;
    }
  }

}