
.form{
  .row{
    margin-top: -20px;
    .item.itemForm {
      margin-top: 20px;
    }
  }
  .itemForm:not(.item){
    & + .itemForm:not(.item){
      margin-top: 20px;
    }
  }
}
.form label {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-bottom: 2px;
  padding-left: 2px;
}

input[type='text'], input[type='password'],
input[type='email'], input[type='url'],
input[type='date'], textarea {
    color: #4f5362;
    height: 41px;
    border: 0px;
    padding: 0px 10px;
    font-size: 14px;
    outline: none !important;
    box-shadow: none;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: solid 1px #cfcfcf;
    font-family: $font1;
}

textarea {
    height: auto;
    min-height: 150px;
    padding: 7px 10px;
    display: block;
    max-height: 130px;
}