
.table {
    display: table;
    &.full {
        width: $col12;
    }
    .tBody {
        display: table-row-group;
    }

    .tRow {
        display: table-row;
    }

    .tHead {
        display: table-row;
    }

    .tCell {
        display: table-cell !important;
        &.middle {
            vertical-align: middle;
        }
        &.top {
            vertical-align: top;
        }
        &.bottom {
            vertical-align: bottom;
        }
        &.right{
            text-align: right;
        }
        &.left{
            text-align: left;
        }
        &.center{
            text-align: center;
        }
    }
}
.cfix,
.row,
.grid{
    &:after {
        @include cfix()
    }
    & > .left,
    & > .item{
        float: left;
    }
    & > .right,
    & > .item.right {
        float: right;
    }
    &.noPadd {
        margin: 0px;
        & > .item{
            padding: 0px;
        }
    }
}

.textCenter {
    text-align: center !important;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.grid {
    margin: $indentO3 $indentO1 0px;
    & > .item {
        padding: $indent3 $indent1 0px;
    }
    &.bigPadd {
        margin: -60px $indentO3 0px;
        & > .item {
            padding: $indent4 $indent3 0px;
        }
    }
}

.row {
    margin-left: $indentO1;
    margin-right: $indentO1;
    & > .item {
        padding-left: $indent1;
        padding-right: $indent1;
    }
    & > .right,
    & > .left{
        padding-left: $indent1;
        padding-right: $indent1;    
    }
    &.bigPadd {
        margin-left: $indentO3;
        margin-right: $indentO3;
        & > .item {
            padding-left: $indent3;
            padding-right: $indent3;
        }
        & > .right,
        & > .left{
            margin-left: $indentO3;
            margin-right: $indentO3;    
        }
    }
}
.col0{
    width: 0px;
}
.col1 {
    width: $col1;
}

.col2 {
    width: $col2;
}

.col2_4 {
    width: $col2_4;
}

.col3 {
    width: $col3;
}

.col4 {
    width: $col4;
}
.col4:nth-child(3n + 1){
    clear: both;
}

.col5 {
    width: $col5;
}

.col6 {
    width: $col6;
}
// .col6:nth-child(2n + 1){
//     clear: both;
// }

.col7 {
    width: $col7;
}

.col8 {
    width: $col8;
}

.col9 {
    width: $col9;
}

.col10 {
    width: $col10;
}

.col11 {
    width: $col11;
}

.col12 {
    width: $col12;
}

@media (min-width: $minMediaMD) {
    .showMD,
    .imageMD img {
        display: none !important;
    }
}

@media (min-width: $minMediaSM) {
    .showSM,
    .imageSM img {
        display: none !important;
    }
}

@media (min-width: $minMediaXS) {
    .showXS,
    .imageXS img {
        display: none !important;
    }
}

@media (min-width: $minMediaXSS) {
    .showXSS,
    .imageXSS img {
        display: none !important;
    }
} 
.imageBlock[class*='image']{
    &[class*='SD']{
        @media (max-width: $maxMediaSD) {
            background-image: none !important;
            height:auto !important;
        }
    }
    &[class*='MD']{
        @media (max-width: $maxMediaMD) {
            background-image: none !important;
            height:auto !important;
        }
    }
    &[class*='SM']{
        @media (max-width: $maxMediaSM) {
            background-image: none !important;
            height:auto !important;
        }
    }
    &[class*='XS']:not([class*='XSS']){
        @media (max-width: $maxMediaXS) {
            background-image: none !important;
            height:auto !important;
        }
    }
    &[class*='XSS']{
        @media (max-width: $maxMediaXSS) {
            background-image: none !important;
            height:auto !important;
        }
    }
}
[class*='show']{
    &[class*='wSD']{
        @media (min-width: $minMediaSD) {
            display: none !important;
        }
    }
    &[class*='wMD']{
        @media (min-width: $minMediaMD) {
            display: none !important;
        }
    }
    &[class*='wSM']{
        @media (min-width: $minMediaSM) {
            display: none !important;
        }
    }
    &[class*='wXS']{
        @media (min-width: $minMediaXS) {
            display: none !important;
        }
    }
    &[class*='wXSS']{
        @media (min-width: $minMediaXSS) {
            display: none !important;
        }
    }
}
[class*='hide']{
    &.hide{
        display: none;
    }
    &[class*='eSD']{
        @media (max-width: $maxMediaSD) {
            display: none !important;
        }
    }
    &[class*='eMD']{
        @media (max-width: $maxMediaMD) {
            display: none !important;
        }
    }
    &[class*='eSM']{
        @media (max-width: $maxMediaSM) {
            display: none !important;
        }
    }
    &[class*='eXS']{
        @media (max-width: $maxMediaXS) {
            display: none !important;
        }
    }
    &[class*='eXSS']{
        @media (max-width: $maxMediaXSS) {
            display: none !important;
        }
    }
}
@media (max-width: $maxMediaSD) {
    .col0-sd{
        width: 0px;
    }
    .col1-sd {
        width: $col1 !important;
    }

    .col2-sd {
        width: $col2 !important;
    }

    .col2_4-sd {
        width: $col2_4 !important;
    }

    .col3-sd {
        width: $col3 !important;
    }

    .col4-sd {
        width: $col4 !important;
    }

    .col5-sd {
        width: $col5 !important;
    }

    .col6-sd {
        width: $col6 !important;
    }

    .col7-sd {
        width: $col7 !important;
    }

    .col8-sd {
        width: $col8 !important;
    }

    .col9-sd {
        width: $col9 !important;
    }

    .col10-sd {
        width: $col10 !important;
    }

    .col11-sd {
        width: $col11 !important;
    }

    .col12-sd {
        width: $col12 !important;
    }
}

@media (max-width: $maxMediaMD) {
    .col0-md{
        width: 0px;
    }
    .col1-md {
        width: $col1 !important;
    }

    .col2-md {
        width: $col2 !important;
    }

    .col2_4-md {
        width: $col2_4 !important;
    }

    .col3-md {
        width: $col3 !important;
    }

    .col4-md {
        width: $col4 !important;
    }

    .col5-md {
        width: $col5 !important;
    }

    .col6-md {
        width: $col6 !important;
    }

    .col7-md {
        width: $col7 !important;
    }

    .col8-md {
        width: $col8 !important;
    }

    .col9-md {
        width: $col9 !important;
    }

    .col10-md {
        width: $col10 !important;
    }

    .col11-md {
        width: $col11 !important;
    }

    .col12-md {
        width: $col12 !important;
    }
}

@media (max-width: $maxMediaSM) {
    [class*='col']{
        clear: none !important;
    }
    .col0-sm{
        width: 0px;
    }
    .col1-sm {
        width: $col1 !important;
    }

    .col2-sm {
        width: $col2 !important;
    }

    .col2_4-sm {
        width: $col2_4 !important;
    }

    .col3-sm {
        width: $col3 !important;
    }

    .col4-sm {
        width: $col4 !important;
    }

    .col5-sm {
        width: $col5 !important;
    }

    .col6-sm {
        width: $col6 !important;
    }
    .col6-sm:nth-child(2n + 1){
        clear: both !important;
    }
    .col7-sm {
        width: $col7 !important;
    }

    .col8-sm {
        width: $col8 !important;
    }

    .col9-sm {
        width: $col9 !important;
    }

    .col10-sm {
        width: $col10 !important;
    }

    .col11-sm {
        width: $col11 !important;
    }

    .col12-sm {
        width: $col12 !important;
    }
}

@media (max-width: $maxMediaXS) {
    .grid {
        margin: $indentO5 $indentO2 0px;
        & > .item {
            padding: $indent5 $indent2 0px;
        }
        &.bigPadd{
            margin: $indentO5 $indentO2 0px;
            & > .item {
                padding: $indent5 $indent2 0px;
            }
        }
    }

    .row {
        margin-left: $indentO2;
        margin-right: $indentO2;
        & > .item {
            padding-left: $indent2;
            padding-right: $indent2;
        }
    }
    .col0-xs{
        width: 0px;
    }
    .col1-xs {
        width: $col1 !important;
    }

    .col2-xs {
        width: $col2 !important;
    }

    .col2_4-xs {
        width: $col2_4 !important;
    }

    .col3-xs {
        width: $col3 !important;
    }

    .col4-xs {
        width: $col4 !important;
    }

    .col5-xs {
        width: $col5 !important;
    }

    .col6-xs {
        width: $col6 !important;
    }

    .col7-xs {
        width: $col7 !important;
    }

    .col8-xs {
        width: $col8 !important;
    }

    .col9-xs {
        width: $col9 !important;
    }

    .col10-xs {
        width: $col10 !important;
    }

    .col11-xs {
        width: $col11 !important;
    }

    .col12-xs {
        width: $col12 !important;
    }
}

@media (max-width: $maxMediaXSS) {
    .col0-xss{
        width: 0px;
    }
    .col1-xss {
        width: $col1 !important;
    }

    .col2-xss {
        width: $col2 !important;
    }

    .col2_4-xss {
        width: $col2_4 !important;
    }

    .col3-xss {
        width: $col3 !important;
    }

    .col4-xss {
        width: $col4 !important;
    }

    .col5-xss {
        width: $col5 !important;
    }

    .col6-xss {
        width: $col6 !important;
    }

    .col7-xss {
        width: $col7 !important;
    }

    .col8-xss {
        width: $col8 !important;
    }

    .col9-xss {
        width: $col9 !important;
    }

    .col10-xss {
        width: $col10 !important;
    }

    .col11-xss {
        width: $col11 !important;
    }

    .col12-xss {
        width: $col12 !important;
    }
}
