header {
    &.inner .mainPageFirst {
        position: relative;
        &.project:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.3;
        }
    }
}

.logo {
    display: block;
    cursor: pointer;
    &:hover {
        opacity: 0.7 !important;
    }
}

.innerBigHead:not(.mainPage) {
    .logoBl {
        height: 390px;
        min-height: auto;
    }
}

header {
    position: relative;
}

.headLineMenu {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    padding: 15px 0px;
    height: 70px;
    .firstCap {
        color: $color3;
        font-size: 26px;
        line-height: 38px;
        text-transform: capitalize;
        font-weight: 600;
        display: block;
        text-align: center;
        opacity: 0.9;
        &.project {
            font-family: $font2;
            letter-spacing: 1px;
            text-transform: none;
        }
        &::first-letter {
            color: $color3;
        }
    }
    &.active {
        position: fixed;
        top: 0px;
        bottom: auto;
        width: 100%;
        left: 0px;
        .capBlock {
            .firstCap {
                opacity: 1;
                &::first-letter {
                    color: $logoColor;
                }
            }
        }
        .logo {
            opacity: 1;
        }
    }
    &.active {}
    .logo {
        @extend .logo;
        width: 63px;
        opacity: 0;
        @include transition(opacity 0.4s);
    }
    .mainMenu {
        padding: 5px 0px;
        ul {
            li {
                display: inline-block;
                &+li {
                    margin-left: 20px;
                }
                a,
                span {
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 23px;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    overflow: hidden;
                    display: block;
                    color: $color3;
                    font-weight: 600;
                    letter-spacing: 0px;
                    opacity: 0.6;
                    top: 3px;
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 1;
                    }
                    &.active {
                        color: $logoColor;
                        opacity: 1;
                        opacity: 0.9;
                        @include transition(all 0.2s);
                    }
                }
                &.clickActive {
                    a,
                    span {
                        color: $logoColor;
                        opacity: 1;
                        opacity: 0.9;
                        @include transition(all 0.2s);
                    }
                    &~li {
                        a,
                        span {
                            &.active {
                                color: $color3;
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}

.inner {
    .headLineMenu {
        .logo {
            opacity: 0.4;
        }
        &.active {
            .logo {
                opacity: 1;
            }
        }
    }
    .logoBl {
        //height: 60vh;
    }
}

.logoBl {
    background: #000 !important;
    min-height: 500px;
    height: 60vh;
    text-align: center;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    width: 100%;
    &:before {
        opacity: 0 !important;
    }
    .logo {
        -webkit-transition: all 1s 0.5s;
        -moz-transition: all 1s 0.5s;
        -o-transition: all 1s 0.5s;
        transition: all 1s 0.5s;
        opacity: 0;
        background: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 200px;
        text-align: left;
        img {
            width: 100%;
            display: block;
            height: auto;
        }
        span {
            font-size: 14px;
            line-height: 14px;
            color: $color3;
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            padding-left: 54px;
            letter-spacing: 0.6px;
            white-space: nowrap;
        }
    }
    &.active {
        .logo {
            opacity: 1;
        }
    }
}