

// .modalsScroll .closed {
//     display: block;
//     -moz-transform: rotate(0deg);
//     -ms-transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     background-color: transparent;
//     width: 103px;
//     height: auto;
//     margin: 0;
//     position: absolute;
//     top: 12px;
//     left: -110px;
//     font-family: 'PF DinDisplay Pro';
//     font-size: 16px;
//     color: #fff;
//     text-decoration: underline;
// }

// .close span:last-child {
//     margin-bottom: 0;
//     -moz-transform: rotate(-45deg);
//     -ms-transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
//     -o-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     top: -7px;
// }

// .close span {
//     display: table;
//     width: 20px;
//     height: 3px;
//     margin-bottom: 25px;
//     -moz-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(45deg);
//     position: relative;
//     top: 21px;
//     left: 50%;
//     margin-left: -10px;
//     border-radius: 2px;
//     background-color: #fff;
// }

// .close:hover {
//     opacity: 1;
// }

// .close {
//     outline: none;
//     z-index: 30;
//     position: absolute;
//     right: -36px;
//     top: -36px;
//     width: 48px;
//     height: 48px;
//     text-decoration: none;
//     cursor: pointer;
//     border-radius: 50%;
//     text-align: center;
//     opacity: 0.6;
// }

// #overlay {
//     z-index: 1;
//     position: fixed;
//     background-color: #000;
//     opacity: 0.7;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     cursor: pointer;
//     display: none;
// }

.modals  [class*='Cap']{
    text-align: center;
    color: #000;
}
.modals  [class*='Cap'] + .afterCap{
    text-align: center;
    display: block;
}

.close span:last-child {
    margin-bottom: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -7px;
}

.close span {
    display: table;
    width: 20px;
    height: 3px;
    margin-bottom: 25px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 21px;
    left: 50%;
    margin-left: -10px;
    border-radius: 2px;
    background-color: #fff;
}

.close:hover {
    opacity: 1;
}

.close {
    outline: none;
    z-index: 30;
    position: absolute;
    right: -36px;
    top: -36px;
    width: 48px;
    height: 48px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    opacity: 0.6;
}

#overlay {
    z-index: 1;
    position: fixed;
    background-color: $color1;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.blockMod {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.blockMod .in {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #eeefee;
    padding: 20px;
}
.blockMod.error .in{
    box-shadow: inset 0px 0px 0px 3px $errorColor;
}

.modals {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 70px 50px 50px;
    .tCell {
        overflow: auto;
    }
}

.ReactModal__Body--open,
.bodyModal,
.overlayBody {
    overflow: hidden;
    position: relative;
    // padding-right: 17px;
    .headLineMenu{
        &.active{
            width: calc(100% - 17px);
        }
    }
    body{
        overflow: hidden;
        position: relative;
    }
    &.viewOverlay,
    &.viewOverlay body{
        position: static;
        overflow: visible;
        padding-right: 0px;
    }
}
@media (max-width: 1199px) {
    .bodyModal,
    .overlayBody {
        padding-right: 0px;
        .headLineMenu{
            &.active{
                width: 100%;
            }
        }
    }
}
@media (max-width: 767px){
    .bodyModal,
    .overlayBody{
        &.safari.iphone,
        &.safari.iphone body{
            height: 100vh;
        }
    }
}
.modalsScroll {
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    &.open {
        z-index: 7;
        display: block;
    }
    .closed {
        display: block;
        @include transform(rotate(0deg));
        background-color: transparent;
        width: 103px;
        height: auto;
        margin: 0;
        position: absolute;
        top: 12px;
        left: -110px;
        font-family: 'PF DinDisplay Pro';
        font-size: 16px;
        color: #fff;
        text-decoration: underline;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}