@media (max-width: $maxMediaSD) {
    @import "responsive-desctop";
}

@media (max-width: $maxMediaMD) {
    @import "responsive-tablet-landscape";
}

@media (max-width: $maxMediaSM) {
    @import "responsive-tablet-portrait";
}

@media (max-width: $maxMediaXS) {
    @import "responsive-mobile-landscape";
}

@media (max-width: $maxMediaXSS) {
    @import "responsive-mobile-portrait";
}

@media (min-width: $minMediaSD) {}

@media (min-width: $minMediaMD) {
    .openDataBlock {
        &:hover {
            .moreData {
                height: 290px;
                &:before {
                    top: 24px;
                    border-bottom: solid 0px $color5;
                    border-top: solid 14px $color3;
                    border-left: solid 14px transparent;
                    border-right: solid 14px transparent;
                    margin-left: -14px;
                }
                .inner {
                    // background-color: $color1;
                    @include transition(background 0.3s 0.5s);
                    span,
                    p {
                        @include transition(all 0.3s 0.5s);
                    }
                    .cost {
                        opacity: 0.9;
                        color: $logoColor;
                    }
                    .devices {
                        span {
                            opacity: 1;
                        }
                    }
                }
            }
            .smallData {
                text-align: center;
                width: 100%;
                padding-bottom: 200px
            }
        }
    }
}

@media (max-width: $maxMediaMD) and (min-width: $minMediaSM) {}

@media (min-width: $minMediaSM) {}

@media (min-width: $minMediaXS) {
    .mainMenu {
        ul {
            display: block !important;
        }
    }
}

@media (min-width: $minMediaXSS) {}