.container {
  width: $containerSM;
  padding: $containerPaddingSM;
}

.secCap {
  font-size: 26px;
  line-height: 30px;
}

.beforeCap {
  font-size: 14px;
  line-height: 18px
}

.goNext {
  display: none;
}

.mainPageFirst {
  .table.back {
  }
  .capBlock {
  }
  .afterFirstCapText {
  }
}

section.noPadd .innerBlock {
  padding: 40px 0px;
}

section {
  padding: 30px 0px;
}

.headLineMenu .mainMenu a {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1px;
}
.portfItem {
  .image {
    background-size: cover;
  }
  &:hover {
    .cont {
      .threeCap {
        font-size: 54px !important;
        line-height: 60px !important;
      }
    }
  }
}
.services,
.pluses:not(.services) {
  .row{
    .item{
      max-width: 500px;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

footer {
  .lineCont {
    padding: 10px 0px;
  }

  .lineCopy {
    padding: 5px 0px;
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
.contacts{
  padding: 40px 0px 40px;
  .map{
    margin-top: 30px;
    height: 200px;
  }
}

.headLineMenu {
  padding: 10px 0px;
  .mainMenu {
    ul{
      
      li{            
          & + li{
              margin-left: 10px;
          }
      }
    }
  }
}

.portfolio{
  &.projectsPage{
    .grid{
      .item{
        width: 50% !important;
      }
    }
    .portfItem{
      .cont{
        [class*='Cap']{
          font-size: 26px !important;
          line-height: 32px !important;
        }
      }
    }
  }
}