.container {
  width: $containerMD;
  padding: $containerPaddingMD;
}

.innerBigHead{
  &.project{
    .logoBl{
      max-height: 400px;
    }
  }
}
.afterSecCapText {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px
}
.secCap{
  font-size: 28px;
  line-height: 30px;
}
.smallContainer {
  max-width: 700px
}
.logoBl{
  min-height: 350px;
  height: 100vh;
}

.portfItem {
  height: 160px;

[class*='icon'] {
  opacity: 1;
  right: 10px;
  top: 10px;
}
.cont{
  background-color: rgba(0,0,0,0.7);
}
}
section {
  padding: 40px 0px 30px;
  .innerBlock {
    padding: 30px 0px;
  }
}

.openDataBlock {
  margin-top: 0px;
  padding: 20px 10px 0px;
  .moreData {
    height: 35px;
    padding-top: 18px;
    &:before {
      border-bottom: solid 18px $color5;
      border-left: solid 20px transparent;
      border-right: solid 20px transparent;
      margin-left: -20px;
    }
    .inner {
      top: 18px;
    }
    .table {
      padding: 0px 20px;
    }
  }
  .smallData {
    height: 400px;
    padding-bottom: 200px;
    [class*="icon-"] {
      font-size: 40px;
      margin-bottom: 10px;
      padding-bottom: 0px;
      border: 0px;
      @include transition(all 0.3s);
    }
    .beforeCap{
      display: none;
    }
  }
}

.pluses {
  padding: 20px 0px 40px;
}
.services,
.pluses:not(.services) {
  .item{
    clear:none;
    .openDataBlock{
      padding: 0px;
      margin-top: 20px;
      padding-left: 50%;
      padding-right: 0px;
      .smallData{
        position: absolute;
        display: table;
        padding-bottom: 0px;
        height: 120px;
        width: 50%;
        left: 0px;
        background-color: $darkBack;
        [class*='Cap']{
          position: absolute;
          left: 100%;
          width: 100%;
          color: $color3;
          top: 15px;
          z-index: 3;
          opacity: 0.8;
        }
        [class*='icon']{
          width: 50px;
          margin: 0px auto;
          position: relative;
          top: -10px;
        }
      }
      .moreData{
        padding: 0px;
        position: relative;
        height: auto;
        bottom: 0px;
        overflow: visible;
        &:before{
          display: none;
        }
        [class*="btn"]{
          margin: 0px;
          display: block;
          border-radius: 0px;
          padding: 5px 0px;
          font-size: 14px;
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: 0px;
        }
        .inner{
          top: 0px;
          position: relative;
          padding: 0px;
          .table{
            height: auto;
            padding: 0px;
            height: 120px;
            .tCell{
              vertical-align: bottom;
            }
            p{
              display: none;
            }
            ul{
              &.devices{
                display: none;
                & + *{
                  margin-top: 0px;
                }
              }
              &.params{
                margin-top: 0px;
                padding-top: 0px;
                position: relative;
              }
              li,
              span:not(.cost){
                font-size: 14px;
              }
              li{
                &:not(.costParam){
                  display: none;
                }
                & + li{
                  margin-top: 0px;
                }
                &.costParam {                  
                  margin-top: 0px !important;
                  position: absolute;
                  right: 100%;
                  width: 100%;
                  z-index: 2;
                  bottom: 0px;
                  display: table;
                  text-align: right;
                  padding-right: 10px;
                  .cap,
                  .cost{
                    color: $color1;
                    span{
                      color: $color1;
                    }

                  }
                  .cap{
                    font-size: 13px;
                    float: none;
                    padding: 0px;
                  }
                  .cost{
                    float: none;
                  }
                }
              }
              span{
                &:not(.cap):not(.cost){
                  font-size: 13px;
                  line-height: 21px;
                  b{
                    font-size: 16px;
                  }
                }
              }
              .cap{
                overflow: hidden;
                height: 24px;
                font-size: 13px;
                padding-left: 30px;
              }

            }
          }
        }
      }
      &.other{
        .smallData{
          [class*='icon']{
            position: static;
            font-size: 55px;
            width: 55px;
          }
        }
      }
    }
  }
  .openDataBlock {
    .moreData {
      .table {
        padding-top: 17px;
      }
    }
  }
}

.mainPageFirst {
  .capBlock {
  }
}

.mainMenu {
  a {
    font-size: 15px;
  }
}



.portfolio{
  .grid{
      .item{
        width: 40% !important;
        &:nth-child(2), 
        &:nth-child(3), 
        &:nth-child(4n+2), 
        &:nth-child(4n+3){
          width: 60% !important;
        }
      }
    }
  
  &.projectsPage{
    .portfItem{
      &:before{
        // height: 70px;
      }
      [class*='icon']{
        // padding: 20px;
      }
      .image{
        // background-size: 965px auto;
        background-size: 400px auto;
        background-position: 0px 0px;
      }
      .cont{
        // background-color: rgba(0, 0, 0, 0.4);
        padding-bottom: 10px;
        [class*='Cap']{
          font-size: 26px;
        }
        .addresPortfol{
          font-size: 14px;
        }
      }
    }
    .grid{
      .item{
        width: 33.3333% !important;
      }
    }
  } 
}

.footBlock .pointDown img {
  width: 35px;
}

.portfolio{
  &.projectsPage {
    .portfItem{
      &:before{
        opacity: 1;
      }
    }
  }
}