.container {
    width: $containerXSS;
    padding: $containerPaddingXSS;
}

.services {
    .row {
        .item {
            .openDataBlock {
                max-width: 240px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.portfolio {
    &.projectsPage {
        .portfItem {
            padding-bottom: 49px;
            height: auto;
        }
    }
    .grid {
        .item {
            width: 100%;
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5n+2),
            &:nth-child(6n+4) {
                width: 100%;
            }
        }
    }
}