.container {
    width: $containerXS;
    padding: $containerPaddingXS;
}

.capBlock {
    margin-bottom: 10px;
}

.beforeCap {
    font-size: 12px;
    line-height: 16px;
}

.secCap {
    font-size: 20px;
    line-height: 24px;
}

.afterSecCapText {
    font-size: 14px;
    line-height: 21px;
}

.textBlock {
    p {
        font-size: 14px;
        line-height: 21px;
    }
}

.mainPageFirst {
    position: relative;
    height: 100vh;
    // background-image: url(../img/first-back.jpg);
    background-position: center;
    background-size: cover;
}

.headLineMenu {
    position: fixed;
    top: 0px;
    width: 100% !important;
    margin: 0px !important;
    left: 0px !important;
    bottom: auto;
    z-index: 4;
    background: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    .mainMenu {
        margin-right: 0px;
        ul {
            top: 100%;
            position: absolute;
            height: 0;
            overflow: hidden;
            left: 0px;
            width: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 0px 0px 0;
            $trans: height 0.6s, padding-bottom 0.6s;
            @include transition($trans);
            &.active{
                height: 180px;
                padding-bottom: 10px;
                $trans: height 0.4s, padding-bottom 0.4s;
                @include transition($trans);
            }
            li {
                display: block;
                &+li {
                    margin: 0px;
                }
                a,
                span {
                    line-height: 34px;
                    display: block;
                    padding: 0px 15px;
                }
            }
        }
    }
    &:not(.active) {
        .mainMenu {
            ul {
                /*top: 0%;
                padding-top: 10px;*/
            }
        }
    }
    &.active {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .capBlock {
        .firstCap {
            font-size: 20px;
        }
    }
}

.logoBl {
    .logo {
        width: 120px;
        span {
            font-size: 9px;
            line-height: 12px;
            padding-left: 32px;
            letter-spacing: 0.2px;
            font-weight: normal;
        }
    }
}

.services,
.pluses:not(.services) {
    .row {
        .item {
            float: left;
            padding: 0px 10px;
            .openDataBlock {
                padding: 120px 0px 0px;
                .smallData {
                    top: 0px;
                    width: 100%;
                    height: 120px;
                    [class*="Cap"] {
                        position: static;
                        color: $color1;
                        padding: 0px 5px;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                .moreData {
                    .inner {
                        background-color: $darkBack;
                        .table {
                            height: 70px;
                            .tCell {
                                vertical-align: top;
                            }
                            ul {
                                li {
                                    &.costParam {
                                        position: static;
                                        .cap,
                                        .cost {
                                            opacity: 1;
                                            color: $color5;
                                            span {
                                                opacity: 1;
                                                color: $color5;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.other {
                    .smallData {
                        [class*='Cap'] {
                            position: absolute;
                            top: calc(100% - 30px);
                            left: 0px;
                            z-index: 3;
                        }
                    }
                }
            }
        }
    }
}

.pluses:not(.services) {
    .row {
        .item {
            .openDataBlock {
                .moreData {
                    .inner {
                        .table {
                            height: 38px;
                        }
                    }
                }
            }
        }
    }
}

.portfolio {
    &.projectsPage {
        .grid {
            .item {
                // max-width: 100% !important;
                width: 100% !important;
                max-width: 350px !important;
                margin-right: auto;
                margin-left: auto;
                float: none;
                display: block;
            }
        }
        .portfItem {
            padding-bottom: 49px;
            height: auto;
            &:before {
                height: 49px;
            }
        }
    }
}

.portfItem {
    .cont {
        .threeCap {
            font-size: 28px;
        }
        .addresPortfol {
            font-size: 12px;
            line-height: 16px;
        }
    }
    &:hover {
        .cont {
            .threeCap {
                font-size: 42px !important;
                line-height: 50px !important;
            }
        }
    }
}

.partners {
    .grid {
        margin: -10px auto 0px !important;
        max-width: 230px;
        .item {
            padding-top: 20px;
        }
    }
}

.compLogo {
    width: 90px;
    height: 90px;
    box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    &.invisLink {
        &:hover {
            box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
        }
        &.dark {
            &:hover {
                box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
            }
        }
    }
    &.dark {
        box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
    }
}

footer {
    .lineCopy {
        p {
            font-size: 10px;
            line-height: 14px;
        }
    }
    .lineCont {
        ul {
            li {
                span {
                    font-size: 22px;
                }
                &+li {
                    margin-left: 5px;
                }
            }
        }
        .phone {
            display: block;
            width: 180px;
        }
    }
}

.modals {
    padding: 40px 30px 40px 15px;
}

.services {
    .container {
        max-width: 550px;
    }
}

.innerBigHead {
    &.project {
        .logoBl {
            min-height: auto;
            max-height: 200px;
        }
    }
}

.portfolio {
    padding: 15px 0px;
    &.projectsPage {
        .portfItem {
            // height: auto;
            &:before {
                // height: 50px;
            }
            .image {
                background: none !important;
                position: static;
                width: 100%;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .cont {
                display: block !important;
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                padding-left: 10px;
                padding-bottom: 7px;
                [class*='Cap'] {
                    font-size: 16px !important;
                    line-height: 24px !important;
                }
                .addresPortfol {
                    font-size: 12px;
                    font-weight: normal;
                    opacity: 0.5;
                }
            }
            [class*='icon'] {
                // padding: 21px;
                // font-size: 20px;
                padding: 16px;
                font-size: 17px;
            }
        }
    }
}

.portfolioList {
    .item {
        width: 50%;
    }
}

.tabs {
    .tabHead {
        ul {
            li {
                [class*="icon"] {
                    font-size: 24px;
                    line-height: 20px;
                }
            }
        }
    }
}