.linkAnhor {
    position: absolute;
    margin-top: -85px;
}

.anim {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.fullLogo {
    font-size: 160px;
    line-height: 160px;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    -webkit-animation-name: fullLogo;
    animation-timing-function: linear;
    animation-name: fullLogo;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    span {
        color: $logoColor;
        &.in {
            color: $color3
        }
    }
}

*+.aboutFull {
    margin-top: 60px
}

.aboutFull {
    position: relative;
    padding-left: 15px;
    padding: 0px 10px 8px 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    p {
        font-size: 18px;
    }
    a {
        text-decoration: none;
        margin-left: 10px;
    }
    [class*='icon'] {
        font-size: 36px;
        line-height: 23px;
        position: relative;
        top: 1px;
    }
}

section {
    padding: 60px 0px 40px;
    &.noPadd {
        padding: 0px;
    }
    &.noPaddBott {
        padding-bottom: 0px;
    }
    &.noPaddTop {
        padding-top: 0px;
    }
    .innerBlock {
        padding: 60px 0px 70px;
    }
}

*+.compLogo {
    margin-top: 20px;
}

.compLogo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    &.invisLink {
        &:hover {
            box-shadow: inset 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
        &.dark {
            &:hover {
                box-shadow: inset 0px 0px 0px 10px rgba(255, 255, 255, 0.2);
            }
        }
    }
    &.dark {
        background-color: $color5;
        box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.2);
    }
    .img {
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.mainPageFirst {
    position: relative;
    // background-image: url(../../img/index.jpg);
    background-position: center;
    background-size: cover;
    padding: 0px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1;
        opacity: 0.4;
    }
    .table.back {
        height: 600px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .capBlock {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        padding: 0px 10px;
        text-align: center;
        font-weight: bold;
        .firstCap {
            color: #fff;
            &::first-letter {
                color: $logoColor;
                text-transform: uppercase;
            }
        }
        .afterFirstCapText {
            display: none;
            color: #fff;
        }
    }
    .firstCap {
        &+* {
            margin-top: 20px;
        }
    }
    .afterFirstCapText {
        padding: 5px 0px;
        border-top: solid 1px $color2;
        display: block;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.howWeWork {
    border-bottom: solid 3px $color4;
    .capBlock {}
    .steps {
        width: 900px;
        margin: 30px auto 0px;
        .left {
            width: 400px;
            [class*='icon'] {
                font-size: 220px;
                display: block;
                width: 300px;
                text-align: center;
                line-height: 315px;
            }
        }
        .right {
            width: calc(100% - 400px);
            ul {
                li {
                    font-size: 20px;
                    position: relative;
                    &:nth-child(1) {
                        margin-left: -140px;
                    }
                    &:nth-child(2) {
                        margin-left: -60px;
                    }
                    &:nth-child(3) {
                        margin-left: -20px;
                    }
                    &:nth-child(4) {
                        margin-left: -31px;
                    }
                    &:nth-child(5) {
                        margin-left: -89px;
                    }
                    &+li {
                        margin-top: 37px;
                    }
                }
            }
            .n {
                color: $color4;
                font-weight: bold;
                font-size: 50px;
                line-height: 40px;
                position: absolute;
                left: -40px;
                bottom: 1px;
                display: block;
            }
            [class*='icon'] {
                font-size: 36px;
                line-height: 24px;
            }
        }
    }
}

.aboutBlock {
    .capBlock {
        .secCap {
            font-family: $font2;
        }
    }
}

.portfolio {
    padding-top: 30px;
    overflow: hidden;
    &.projectsPage {
        padding-bottom: 0px;
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 2.5px;
        bottom: 2.5px;
        width: calc(((100vw - 1190px) / 2));
        z-index: 10;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: $color3;
            opacity: 0.7;
            -webkit-transition: left 0.8s, right 0.8s, opacity 0.4s;
            -moz-transition: left 0.8s, right 0.8s, opacity 0.4s;
            -o-transition: left 0.8s, right 0.8s, opacity 0.4s;
            transition: left 0.8s, right 0.8s, opacity 0.4s;
            position: absolute;
        }
        [class*='icon'] {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 20px;
            width: 30px;
            text-align: center;
            line-height: 20px;
            margin-top: -15px;
            margin-left: -15px;
            color: $color2;
            background-color: $color3;
            padding: 5px;
        }
        &.owl-prev {
            right: 100%;
            margin-right: 5px;
            &:before {
                right: 0px;
            }
            &:hover {
                &:before {
                    right: 100px;
                    opacity: 0.2;
                    -webkit-transition: right 0.4s, opacity 0.4s;
                    -moz-transition: right 0.4s, opacity 0.4s;
                    -o-transition: right 0.4s, opacity 0.4s;
                    transition: right 0.4s, opacity 0.4s;
                }
            }
        }
        &.owl-next {
            left: 100%;
            margin-left: 5px;
            &:before {
                left: 0px;
            }
            &:hover {
                &:before {
                    left: 100px;
                    opacity: 0.2;
                    -webkit-transition: left 0.4s, opacity 0.4s;
                    -moz-transition: left 0.4s, opacity 0.4s;
                    -o-transition: left 0.4s, opacity 0.4s;
                    transition: left 0.4s, opacity 0.4s;
                }
            }
        }
    }
    .owl-grab {
        .owl-prev,
        .owl-next {
            &:before {
                opacity: 0.2;
            }
        }
        .owl-prev {
            &:before {
                right: 300px;
            }
        }
        .owl-next {
            &:before {
                left: 300px;
            }
        }
    }
    &.aboutPortf {
        background-color: $color3;
    }
    .single.slider.owl-carousel .item {
        padding: 2.5px 0px;
    }
    .grid {
        margin: 0 -2.5px;
        .item {
            width: 33.3333333%;
            padding: 2.5px;
            &:nth-child(3n + 1) {
                width: 32%;
            }
            &:nth-child(3n + 2) {
                width: 28%;
            }
            &:nth-child(3n + 3) {
                width: 40%;
            }
            &:nth-child(6n + 1) {
                width: 40%;
            }
            &:nth-child(6n + 2) {
                width: 32%;
            }
            &:nth-child(6n + 3) {
                width: 28%;
            }
            &:nth-child(9n + 1) {
                width: 28%;
            }
            &:nth-child(9n + 2) {
                width: 40%;
            }
            &:nth-child(9n + 3) {
                width: 32%;
            }
        }
    }
    &.projectsPage {
        .grid {
            margin: 0px;
            .item {
                width: 25% !important;
                padding: 2px;
                &+.item {
                    // margin-top: 15px;
                }
            }
        }
        .portfItem {
            overflow: hidden;
            height: 300px; // max-height: calc(100vh - 70px);
            position: relative;
            .image {
                background-size: 300px auto;
                background-position: center 0px;
                background-repeat: no-repeat;
            }
            .cont {
                background-color: rgba(0, 0, 0, 0.4);
                opacity: 1;
                z-index: 3;
                vertical-align: bottom;
                padding-bottom: 9px;
                padding-left: 10px;
                [class*='Cap'] {
                    font-size: 30px;
                    line-height: 32px;
                    margin: 0px;
                }
                * {
                    text-align: left;
                    display: block;
                }
            }
            a {
                z-index: 4;
            }
            [class*='icon'] {
                background-color: rgba(0, 0, 0, 0.85);
                padding: 27px;
                right: 0px;
                bottom: 0px;
                top: auto;
                z-index: 4;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 75px;
                background-color: rgba(0, 0, 0, 0.85);
                opacity: 0.9;
                z-index: 2;
                @include transition(opacity 0.3s);
            }
            &:hover {
                &:before {
                    background-color: rgba(0, 0, 0, 0.85);
                    opacity: 1;
                }
                .cont {
                    background-color: rgba(0, 0, 0, 0.1); //background-size: cover;
                }
            }
        }
    }
}

.portfItem {
    position: relative;
    height: 240px;
    width: 100%;
    &:hover {
        [class*='icon'] {
            opacity: 1;
            right: 10px;
            top: 10px;
        }
        .cont {
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-transition: opacity 0.3s, background 0.5s;
            -moz-transition: opacity 0.3s, background 0.5s;
            -o-transition: opacity 0.3s, background 0.5s;
            transition: opacity 0.3s, background 0.5s;
            .threeCap {
                font-size: 56px;
                line-height: 62px;
            }
        }
    }
    [class*='icon'] {
        position: absolute;
        color: $color3;
        font-size: 20px;
        right: 40px;
        top: 40px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; // display: none;
    }
    .image {
        background-position: center top;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-size: cover;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        img {
            display: none;
        }
    }
    .addresPortfol {
        color: $color3;
        font-weight: bold;
        font-size: 12px; // font-size: 16px;
        line-height: 24px;
        display: table;
        margin: -1px auto 0px;
    }
    .cont {
        position: relative;
        opacity: 0;
        -webkit-transition: opacity 0.3s, background 0.5s;
        -moz-transition: opacity 0.3s, background 0.5s;
        -o-transition: opacity 0.3s, background 0.5s;
        transition: opacity 0.3s, background 0.5s;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.95);
        .beforeCap {
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            color: $color2;
        }
        .threeCap {
            color: $color3;
            font-weight: bold;
            font-size: 38px;
            font-family: $font2;
            letter-spacing: 1px;
            -webkit-transition: all 0.15s;
            -moz-transition: all 0.15s;
            -o-transition: all 0.15s;
            transition: all 0.15s;
            &::first-letter {
                color: $logoColor;
                text-transform: uppercase;
            }
        }
    }
}

.openDataBlock {
    position: relative;
    margin-top: -70px;
    overflow: hidden;
    &.other {
        background-color: $color3
    }
    .smallData {
        text-align: center;
        width: 100%;
        height: 600px;
        padding-bottom: 0;
        -webkit-transition: padding .5s;
        -moz-transition: padding .5s;
        -o-transition: padding .5s;
        transition: padding .5s;
        [class*='icon-'] {
            display: block;
            font-size: 60px;
            width: 150px;
            margin: 0 auto 10px;
            padding-bottom: 15px;
            border-bottom: solid 1px $color2
        }
        .beforeCap {
            display: block
        }
        .secCap {
            font-size: 21px;
            line-height: 26px;
            color: $color1;
            font-weight: 700;
            text-transform: uppercase;
            display: block
        }
    }
    .moreData {
        height: 59px;
        overflow: hidden;
        position: absolute;
        padding-top: 24px;
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
        left: 0;
        width: 100%;
        bottom: -2px;
        z-index: 2;
        &:before {
            content: "";
            display: block;
            border-top: solid 0px $color3;
            border-bottom: solid 24px $color5;
            border-left: solid 23px transparent;
            border-right: solid 23px transparent;
            position: absolute;
            left: 50%;
            top: 1px;
            z-index: 2;
            margin-left: -23px;
            -webkit-transition: all 0.2s 0.3s;
            -moz-transition: all 0.2s 0.3s;
            -o-transition: all 0.2s 0.3s;
            transition: all 0.2s 0.3s;
        }
        .inner {
            position: absolute;
            top: 24px;
            left: 0;
            width: 100%;
            background-color: $color5;
            @include transition(background 0.3s);
            text-align: center;
            span:not([class*='btn']),
            p {
                opacity: 0.6;
                @include transition(opacity 0.3s);
            }
        }
        .table {
            padding: 0 50px;
            height: 265px;
            width: 100%
        }
        ul {
            text-align: center;
            .cost {
                span {
                    font-weight: 400;
                    float: none !important;
                    vertical-align: inherit !important;
                    line-height: inherit !important;
                }
                &.cost:not(.cap) {
                    font-size: 40px;
                    font-weight: 700;
                }
            }
            &+* {
                margin-top: 20px
            }
            li,
            span {
                color: $color3;
                font-size: 14px
            }
            &.params {
                li {
                    &+li {
                        margin-top: 7px
                    }
                }
            }
            span:not(.cap) {
                float: left;
                width: 50%;
                text-align: left;
                padding-left: 3px;
                font-size: 14px;
                line-height: 21px;
                b {
                    font-size: 20px
                }
            }
            .costParam {
                margin-top: 15px !important
            }
            .cap {
                float: left;
                width: 50%;
                text-align: right;
                padding-right: 3px;
                vertical-align: bottom;
            }
            &.devices {
                text-align: center;
                li {
                    float: none;
                    width: auto;
                    display: inline-block;
                    vertical-align: middle
                }
                &.only {
                    li {
                        &+li {
                            padding-left: 4px;
                            position: relative;
                            &:before {
                                content: "";
                                width: 3px;
                                height: 3px;
                                border-radius: 50%;
                                background-color: $color3;
                                display: block;
                                left: 0;
                                top: 50%;
                                margin-top: -1.5px;
                                position: absolute;
                            }
                        }
                    }
                }
                &.up {
                    span {
                        font-size: 32px
                    }
                }
                &.follow {
                    li {
                        &+li {
                            padding-left: 10px;
                            position: relative;
                            &:before {
                                content: "\ea3c";
                                font-family: 'icomoon';
                                font-size: 10px;
                                line-height: 20px;
                                width: 10px;
                                text-align: center;
                                border-radius: 50%;
                                display: block;
                                left: 0;
                                top: 50%;
                                margin-top: -10px;
                                position: absolute;
                            }
                        }
                    }
                }
                &+* {
                    margin-top: 15px
                }
                [class*='icon'] {
                    font-size: 40px;
                    line-height: 40px;
                    width: auto
                }
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            color: $color3
        }
        [class*='btn'] {
            margin: 15px auto 0
        }
    }
}

.contacts {
    padding: 40px 0 80px;
    .capBlock {
        margin-bottom: 40px
    }
    .textBlock {
        ul {
            padding: 0;
            li {
                &:before {
                    display: none
                }
                &+li {
                    margin-top: 20px
                }
            }
            [class*='Cap'] {
                text-transform: none;
                font-weight: 600;
                span {
                    font-weight: 400
                }
            }
            a {
                color: $color5;
                text-decoration: none;
                &:hover {
                    text-decoration: none
                }
            }
            p {
                margin: 0
            }
        }
    }
    .map {
        height: 605px;
        // background-image: url(../../img/base-map.jpg);
        background-size: cover;
        background-position: center;
    }
}

.serviceList {
    &>.item {
        padding: 20px 10px
    }
    [class*='Cap'] {
        margin-bottom: 10px
    }
    .params {
        .table {
            margin-top: 20px;
            .tCell:first-child {
                width: 100%
            }
            .tCell:last-child {
                border-left: solid 1px;
                padding: 0 20px
            }
        }
        .cap {
            font-size: 12px;
            color: $color2;
            display: inline-block;
            vertical-align: bottom;
            line-height: 21px
        }
        span:not(.cap) b {
            font-size: 28px
        }
        .item {
            display: table;
            &+.item {
                margin-top: 7px
            }
            &.res {
                text-align: right;
                span:not(.cap) {
                    text-align: center;
                    padding: 0
                }
                b {
                    display: block;
                    font-size: 44px;
                    line-height: 54px;
                    color: $color2
                }
            }
            span:not(.cap) {
                font-size: 14px;
                display: block;
                padding-left: 20px
            }
            span[class*="icon"] {
                font-size: 30px;
                color: $color2;
                padding: 0
            }
        }
        ul {
            display: block;
            li {
                display: inline-block;
                vertical-align: middle;
                &+li {
                    padding-left: 10px
                }
            }
        }
        .device {
            width: 100%;
            &.only {
                ul {
                    li {
                        position: relative;
                        &+li:before {
                            content: "";
                            display: block;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: $color1;
                            position: absolute;
                            top: 50%;
                            margin-top: -2.5px;
                            left: 0
                        }
                    }
                }
            }
        }
    }
}

.fancybox-enabled {
    .headLineMenu {
        left: -8px
    }
}

.innerHead {
    .compLogo {
        margin-top: 40px;
        margin-bottom: -40px
    }
}

.pluses {
    padding: 0px;
    overflow: hidden;
}

.services {
    .openDataBlock {
        &>[class*='btn'] {
            margin: 0 auto
        }
        &>*+[class*='btn'] {
            margin-top: 20px
        }
        .row {
            .item {
                overflow: hidden;
            }
        }
        .moreData {
            .table {
                padding: 32px 20px 0
            }
        }
        &:hover {
            .moreData {
                .table {
                    padding-top: 0
                }
            }
        }
    }
}

.partners {
    padding: 0;
    &.fullBack {
        background-color: $color3
    }
    &.innerBlock {
        background: none
    }
    .grid {
        .item {
            padding-top: 40px
        }
    }
}

.brandImage {
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}

.footBlock {
    // background-image: url(../../img/foot-back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 30px 0;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $color1;
        opacity: .9;
        z-index: 1
    }
    .container {
        position: relative;
        z-index: 2
    }
    .pointDown {
        display: table;
        margin: 20px auto 10px
    }
    .pointDown img {
        width: 100%
    }
}

.portfolioProject {
    padding-bottom: 90px;
    img {
        width: 100%;
        display: block
    }
    .item>div {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s
    }
}

.portfolioList {
    margin: 0 auto;
    display: table;
    max-width: 100% !important;
    .item:hover a {
        background-color: rgba(0, 0, 0, 0) !important;
        box-shadow: inset 0 0 0 2px $color1 !important
    }
    .item {
        width: 140px;
        float: left;
        &+.item {
            margin-left: 5px
        }
        & a {
            -webkit-transition: background 0.2s;
            -moz-transition: background 0.2s;
            -o-transition: background 0.2s;
            transition: background 0.2s;
            &:first-of-type {
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: inset 0 0 0 0 $color1
            }
        }
    }
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto
}

.ui-tabs-panel {
    .portfolioList {
        .item {
            &+.item {
                margin-left: 0
            }
        }
    }
}

.services {
    padding: 0
}

.inLeftArrow {
    position: relative;
    padding-left: 50px;
    padding-top: 0;
    padding-bottom: 10px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        opacity: .1
    }
}

.aboutFirst {
    background-color: $color1;
    padding: 40px 0 60px;
    .table {
        margin: 0 auto
    }
    .image {
        text-align: right;
        img {
            width: 100%;
            box-: 0 0 0 1px $color1;
            display: block
        }
    }
    .data {
        padding-left: 20px;
        p {
            color: $color3;
            max-width: 400px
        }
    }
}

.tabs {
    .tabCont {
        opacity: 0;
        &.fadeIn {
            opacity: 1
        }
    }
    .tabHead {
        margin-bottom: 20px;
        ul {
            margin: 0 -1px;
            width: calc(100% + 2px);
            li {
                text-align: center;
                padding: 0 1px;
                @include transition(opacity 0.2s);
                cursor: pointer;
                &:after {
                    content: "";
                    display: block;
                    border-top: solid 15px $color5;
                    border-left: solid 15px transparent;
                    border-right: solid 15px transparent;
                    position: absolute;
                    left: 50%;
                    margin-left: -15px;
                    top: calc(100% - 20px);
                    z-index: -1;
                    $trans: top 0.3s, opacity 0.3s;
                    @include transition($trans);
                }
                [class*='icon'] {
                    font-size: 34px;
                    line-height: 30px;
                    color: $color3;
                    display: block;
                    background-color: $color5;
                    padding: 5px 0;
                    @include transition(opacity 0.2s);
                }
                &[aria-expanded="true"], &[aria-selected="true"] {
                    &:after {
                        top: 100%;
                        opacity: 1;
                    }
                    [class*='icon'] {
                        opacity: 1;
                    }
                }
                &[aria-expanded="false"], &[aria-selected="false"] {
                    [class*='icon'] {
                        opacity: 0.7;
                    }
                    &:after {
                        opacity: 0;
                    }
                    &:hover [class*='icon'] {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

.whyWe {
    position: relative;
    padding: 60px 0 40px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        // background-image: url(../../img/why-we.jpg);
        background-attachment: fixed
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .9;
        background-color: $color3
    }
    .capBlock+* {
        margin-top: 40px
    }
    .row {
        margin-top: -60px
    }
    .item {
        padding-top: 60px;
        &:nth-child(2n+1) {
            clear: both
        }
    }
}

.inLeftArrow {
    &:before {
        left: 10px;
        width: 10px;
        height: 100%;
        background-color: $color5;
        top: 0
    }
    &:after {
        border-left: solid 15px $color5;
        border-top: solid 15px transparent;
        border-bottom: solid 15px transparent;
        left: 20px;
        top: 0
    }
    [class*='Cap'] {
        line-height: 28px;
        font-size: 22px
    }
}

.portfolioProject {
    padding-bottom: 90px;
    img {
        width: 100%;
        display: block
    }
    .item>div {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s
    }
}

.portfolioList {
    margin: -4px -2px 0px;
    .item:hover {
        .img {
            box-shadow: inset 0 0 0 2px $color1 !important;
        }
        a {
            background-color: rgba(0, 0, 0, 0) !important;
        }
    }
    .item {
        width: 25%;
        overflow: hidden;
        padding: 4px 2px 0px;
        float: left;
        .img {
            box-shadow: inset 0 0 0 0 $color1;
        }
        &a {
            -webkit-transition: background 0.2s;
            -moz-transition: background 0.2s;
            -o-transition: background 0.2s;
            transition: background 0.2s;
            &:first-of-type {
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

#makeOrder{
    .threeCap{
        br{
            display: none;
        }
    }
}