[class*='Cap'],
[class*='Cap'] [class*='cap'] {
  &.center {
    text-align: center;
  }
}

.firstCap {
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase
}

.afterFirstCapText {
  font-size: 16px;
  line-height: 24px;
  color: $color1;
  font-weight: 400
}

.beforeIcon {
  font-size: 80px;
  display: block;
  margin: 0 auto 20px;
  text-align: center;
  margin-bottom: 0
}

.dark .beforeIcon {
  color: $color3;
  opacity: .7
}

.firstCap {
  font-size: 56px;
  line-height: 56px;
  text-transform: capitalize;
  font-weight: bold;
  //font-family: 'Arial';
  display: block;
  text-align: center;
  opacity: 0.8;
}

.dark .firstCap {
  color: $color3;
  opacity: .4
}

.secCap {
  display: block;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
  color: $color1;
  font-weight: 400
}

.dark .secCap {
  color: $color3;
  opacity: .4
}

.threeCap {
  display: block;
  font-size: 24px;
  line-height: 32px
}

.threeCap + * {
  margin-top: 10px
}

.thirdCap {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700
}

.thirdCap + * {
  margin-top: 5px !important;
  display: table
}

.dark .threeCap {
  color: $color3;
  opacity: .4
}

[class*='Cap'] + .afterCap {
  font-size: 14px;
  line-height: 21px;
  color: $color5;
  opacity: .8;
  margin-top: 10px
}
.threeCap{
  & + .afterCap{
    margin-top: 5px;
  }
}

.modals [class*='Cap'] + :not([class*='Cap']) {
  margin-top: 20px
}

.afterSecCapText {
  font-size: 20px;
  line-height: 26px;
  color: $color5;
  opacity: .8;
  margin-top: 20px;
}

.dark .afterSecCapText {
  color: $color3;
  opacity: .7
}

.beforeCap {
  font-size: 16px;
  line-height: 24px;
  color: $color2;
  display: block;
  margin-bottom: 5px
}

.textBlock {
  *:not([class*='Cap']) {
    // font-family: $font2;
  }

  &.center {
    text-align: center
  }
  .center {
    display: table;
    margin-left: auto;
    margin-right: auto
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  * {
    & + img {
      margin-top: 20px;
    }
    & + [class*='Btn'] {
      margin-top: 42px;
    }
    & + .row {
      margin-top: 8px
    }
    & + ul {
      margin-top: 0px;
    }
    & + .bigCap {
      margin-top: 20px;
    }
    & + .mediumCap {
      margin-top: 11px;
    }
    & + .smallCap {
      margin-top: 10px;
    }
    & + .contBlock {
      margin-top: 12px;
    }
    & + .importantBlock {
      margin-top: 49px;
    }
    & + .fourthCap {
      margin-top: 51px;
    }
    & + .accent {
      margin-top: 50px;
    }
    & + strong{
      margin-top: 30px;
    }
  }
  strong{
    display: block;
  }
  p {
    @include font(16px, 24px, null, normal, 0);
    &.small {
      @include font(14px, 21px, null, normal, 0);
    }
    &.extraSmall {
      @include font(13px, 19px, null, normal, 0);
    }
    & + ul,
    & + .ulList {
      margin-top: 17px;
    }
    & + p {
      margin-top: 15px;
      &.import {
        margin-top: 12px !important;
      }
    }
    & + [class*='Cap'] {
      margin-top: 60px;
    }
    & + a {
      display: table;
      margin-top: 20px;
    }
    * + p {
      margin-top: 10px;
    }
    a {
      text-decoration: underline;
    }
    .num {
      display: inline-block;
    }
    img{
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
    }
  }
  a {
    &.link {
      border-bottom: dashed 1px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  [class*='Cap'] + ul,
  [class*='Cap'] + ol,
  [class*='Cap'] + .ulList {
    margin-top: 20px !important;
  }
  ul {
    padding: 15px 0 15px 40px;
    & + ul {
      margin-top: 10px;
    }
    & + p {
      margin-top: 40px;
    }
    li {
      position: relative;
      line-height: 24px;
      .num {
        margin-right: 5px;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -15px;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $color1;
        top: 9px;
        opacity: .7;
      }
    }
  }

  .imageLeft {
    padding: 30px 0;
    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 20px
    }
  }
  .imageRight {
    img {
      float: right;
      margin-left: 20px;
      margin-bottom: 20px
    }
  }
  .capBlock {
    & + * {
      margin-top: 29px;
    }

  }
  img {
    height: auto !important;
    max-width: 100%;
    width: auto !important;
    display: block;
    & + p {
      margin-top: 15px;
    }
    &.base {
      width: auto;
    }
    &.right {
      float: right;
      margin-left: 40px;
      margin-bottom: 20px;
    }
    &.left {
      float: left;
      margin-right: 40px;
      margin-bottom: 20px;
    }
    & + .bigCap {
      margin-top: 36px;
    }
  }
  .left {
    float: left;
  }
  .rightP {
    float: right;
  }
}

.capBlock {
  margin-bottom: 20px;
  &.center {
    text-align: center
  }
}

