$containerLG: 1200px;
$containerSD: 1200px;
$containerMD: 980px;
$containerSM: 730px;
$containerXS: 100%;
$containerXSS: 100%;

$containerSmall: 800px;

$indent1: 10px;
$indent2: 15px;
$indent3: 30px;
$indent4: 50px;
$indent5: 60px;
$indentO1: -$indent1;
$indentO2: -$indent2;
$indentO3: -$indent3;
$indentO4: -$indent4;
$indentO5: -$indent5;

$containerPaddingLG: 0px $indent1;
$containerPaddingSD: 0px $indent1;
$containerPaddingMD: 0px $indent1;
$containerPaddingSM: 0px $indent1;
$containerPaddingXS: 0px $indent2;
$containerPaddingXSS: 0px $indent2;

$rowMarginLG: 0px $indentO1;
$rowMarginSD: 0px $indentO1;
$rowMarginMD: 0px $indentO1;
$rowMarginSM: 0px $indentO1;
$rowMarginXS: 0px $indentO2;
$rowMarginXSS: 0px $indentO2;

$maxMediaSD: 1439px;
$maxMediaMD: 1199px;
$maxMediaSM: 991px;
$maxMediaXS: 767px;
$maxMediaXSS: 479px;

$minMediaSD: 1440px;
$minMediaMD: 1200px;
$minMediaSM: 992px;
$minMediaXS: 768px;
$minMediaXSS: 480px;

$col1: 100% * 1 / 12;
$col2: 100% * 2 / 12;
$col2_4: 100% / 5;
$col3: 100% * 3 / 12;
$col4: 100% * 4 / 12;
$col5: 100% * 5 / 12;
$col6: 100% * 6 / 12;
$col7: 100% * 7 / 12;
$col8: 100% * 8 / 12;
$col9: 100% * 9 / 12;
$col10: 100% * 10 / 12;
$col11: 100% * 11 / 12;
$col12: 100% * 12 / 12;

$inputSize: 49px;

$font1: 'Open Sans';
$font2: 'Roboto';

// $color1: #000;
// $color5: #504d4a;
// $color2: #c9c2b9;
// $color3: #fff;
// $color4: #ffb826;
// $color6: #96551d;

$color1: #000;
$color5: #323232;
$color2: #7e7e7e;
$color3: #fff;
$color4: #ff6e4a;
$color6: #ff592f;

$logoColor: #f6ff43;
$darkBack: #EEEFEE;
$errorColor: #ff1e1e;




